<button (click)="openDialog()">Giỏ Hàng:</button>
<dialog class="dialogCart" #dialogCart >
@for (item of itemsInCart;track item.id)
{
  <img src="{{item.image}}" alt="">
  <div class="item-details">
    <span class="name"> Name: {{ item.name }}</span>
    <span class="quality"> | Quality: {{ item.quality }} </span>
    <span class="description"> | Description: {{ item.description }}</span>
    <span class="price"> | ${{ item.price }}</span>
  </div>
}
  <button (click)="closeDialog()">remove</button>
  <p>total:{{total}}</p>
</dialog>
