<header>
  <div class="wrapper navbar">
    <a href="#" class="logo">SomeComp</a>

    <nav>
      <svg class="close" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41L17.59 5Z" fill="black"/>
      </svg>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="btn">
      <button (click)="openCartDialog()" ><i class="fa-solid fa-cart-shopping"> Cart</i></button>
      <button type="submit" (click)="openDialog()">

<!--        <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>-->
        <p> ADD</p>
      </button>

      <svg class="hamburger" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 22.5H3.75V20H15V22.5ZM26.25 16.25H3.75V13.75H26.25V16.25ZM26.25 10H15V7.5H26.25V10Z" fill="black"/>
      </svg>
    </div>
  </div>
</header>

<dialog #appDialog class="mainnavbar">

  <form [formGroup]="form">
    <div class="upnavbar">
  <label>Name:  </label>
    <input type="text" id="name" placeholder="enter name"
           formControlName="name"/>
     <div> <label>price:  </label>
    <input type="number" id="price" placeholder="enter price"
           formControlName="price"/>
     </div>
      <label>description:  </label>

    <input type="text" id="description" placeholder="enter description"
           formControlName="description"/>
      <div><label>quality:  </label>

    <input type="number" id="quality" placeholder="enter stock"
           formControlName="stock"/>
        </div>
    <div class="linknavbar" >
    <label>link:</label>
    <input type="text" id="image" placeholder="enter image"
           formControlName="image"/>
    </div>
      <div class="clicknavbar0">
    <div class="clicknavbar">
    <button type="submit" (click)="submit()">Submit</button>
    </div>

      <div class="clicknavbar01">
    <button type="submit" (click)="closeDialog()">closed</button>
      </div>
      </div>
    </div>
    </form>
</dialog>

<dialog class="dialogCart" #dialogCart >

    @for (item of itemsInCart;track item.id)
    {
     <div class="content">
       <div class="img">
         <img src="{{item.image}}" alt="">
       </div>
       <div class="item-details">
         <span class="name"> Name: {{ item.name }}</span>
         <span class="quality">  Quality: {{ item.quality }} </span>
         <span class="description">  Description: {{ item.description }}</span>
         <span class="price">  ${{ item.price }}</span>

       </div>
     </div>
    }

  <div class="total">
    <button (click)="closeCartDialog()">remove</button>
    <p><b> total:{{total}}</b></p>
  </div>
  </dialog>



